.page {
  text-align: center;
  height: 100vh;
}

.store-card {
max-width: 300px;
background-color: #b0e0e6;
}

button {
align-self: center;
}

h1 {
font-size: 25pt;
font-weight: 500;
padding-top: 25px;
}


