.div-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

h1 {padding-top: 5px}

div {
  padding: 5px 5px 5px 5px;
}

span {
  padding: 5px 5px 5px 5px;
}

.formflex {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

mat-form-field {
  width: 60%;
}
