<div class="mainbgdiv">
  <div class="maincard">
      <mat-card>
          <h1>Welcome to Pharmarkt!</h1>
          <p>To access the store please login or register!</p>

          <mat-list>
              <mat-list-item matTooltip="Always consult with a professional" matTooltipPosition="before">Prescription drugs</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item matTooltip="Always consult with a professional" matTooltipPosition="before">Nonprescription drugs</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item matTooltip="Always consult with a professional" matTooltipPosition="before">Drug offers</mat-list-item>
            </mat-list>
      </mat-card>
  </div>
</div>
