/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color:adjust-color($color: #e4f8fa);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.div-flex {
  background-color:adjust-color($color: #e4f8fa);
}


.load-indic {
  position: fixed;
  z-index: 99;
  height: 1em;
  width: 1em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
